h1 {color: rgb(202, 5, 5);
}
#gd {width: 50%;
}
#gd {margin-left: 25%;
}
h1 {font-size: 400%;
}
h1 {text-align: center;}
h2 {font-size: 250%;}
h3 {font-size: 200%;}
#vf {width: 50%;}
#vf {margin-left: 25%;}
h4 {font-size: 250%;}
h5 {font-size: 200%;}
h6 {font-size: 250%;}
#tr {width: 50%;}
#tr {margin-left: 25%;}
#mr {width: 50%}
#mr {margin-left: 25%;}
#jw {width: 50%;}
#jw {margin-left: 25%;}
body {background-color: rgb(33, 33, 54);}